/*MENU FIXE */
​
​

.glyphicon{
	font-size: 20px;
	position: fixed;
	top: 375px;
	left: 0px;
	color: #008c9e;
}
​
.category {
	background-color: #008c9e;
	position: fixed;
	width: 200px;
	z-index: 1013;
	height: 460px;
	top: 410px;
	left: 0px;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 3px 3px gray;
}
​
.category:hover {
	background-color: rgba(0, 140, 158, 0.6);
	transition: all 3s ease;
}
​
​
.category h4 {
	width: 100%;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #CECECE;
	color: white;
}
​
.category ul {
	padding-left: 0px;
}
​
.category ul li , .category ul li a{
	text-decoration: none;
	list-style: none;
	color: white;
	line-height: 1.1em;
	font-size: 14px;
	margin: 7px;
}
​
.category ul li:hover {
	background-color: rgba(237, 237, 237, 0.5);
	padding: 5px;
}


/*MENU FIXE */
